.swiper .res-slide {
  min-width: 100%;
  min-height: calc(100vh - 88px);
  background-size: cover;
  background-repeat: no-repeat;
}

.res-slide:nth-child(1) {
  background-image:linear-gradient(360deg,rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.692) 100%),url("../../../assets/assets/food4.jpg");
}
.res-slide:nth-child(2) {
    background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.63) 100%),url("../../../assets/assets/food2.jpg");
  }
.res-slide:nth-child(3) {
  background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.651) 100%),url("../../../assets/assets/food1.jpg");
}


